.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  margin: 25px auto;
  overflow-y: scroll;
}
.form-element-wrapper {
  margin-bottom: 25px;
  position: relative;
}
.form-label {
  line-height: 30px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 24px;
}
.form-input,
.pseudo-input {
  position: relative;
  display: block;
  width: 300px;
  height: 40px;
  border-radius: 40px;
  padding: 0px 10px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  background-color: #ebebeb;
  background-clip: padding-box;
  border: none;
  cursor: text;
}
.form-textarea,
.pseudo-textarea {
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 30px;
  padding: 0px 10px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  background-color: #ebebeb;
  background-clip: padding-box;
  border: none;
  cursor: text;
}
.form-textarea:focus,
.form-input:focus {
  border: 2px solid #222222;
  outline: none;
}
.error {
  position: absolute;
  bottom: -40px;
  color: #d60000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-align: start;
  padding: 5px 5px;
  display: inline-block;
}

.form-btn {
  width: 300px;
  height: 50px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  border-radius: 50px;
  background-color: #3c3c3c;
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  line-height: 50px;
}
.form-btn:hover {
  background-color: #222222;
}
.form-btn:active {
  transform: scale(1.05);
}

.tags-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-bottom: 20px;
}

.columns-container::-webkit-scrollbar {
  height: 100%;
  width: 10px;
  position: fixed;
  top: 0;
  border-radius: 10px;
}
.columns-container::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.columns-container::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
  border-radius: 10px;
}
