@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Shadows+Into+Light&display=swap');

.header {
  background: linear-gradient(270deg, #6cccff, #3bbbff);
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header__active{
  height: 50px; 
}

.header_logo {
  min-height: 45px;
  min-width: 45px;
  background-size: cover;
  background-image: url(../assets/logo.svg);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.header_logo:hover {
  transition: all 0.4s;
  transform: scale(1.1);
}
