.tag-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  height: 40px;
  min-height: 20px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #3c3c3c;
  color: #ffffff;
  padding: 0px 10px;
  margin-bottom: 10px;
  align-items: center;
}
.tag-delete {
  width: 20px;
  height: 20px;
  background-size: cover;
  border-radius: 5px;
  background-image: url(../assets/delete-light.png);
  background-size: cover;
}
.tag-delete:hover {
  background-color: #ffffff4b;
}
.tag-delete:active {
  transform: scale(1.1);
}
