body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  color: #131313;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 75px;
}

.main-container {
  height: 100%;
  padding: 0px 40px;
  margin-bottom: 75px;
  vertical-align: top;
}

.note-add {
  width: 300px;
  height: 50px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  border-radius: 50px;
  background-color: #3c3c3c;
  color: #ffffff;
  font-weight: 500;
  line-height: 50px;
}
.note-add:hover {
  background-color: #222222;
}
.note-add:active {
  transform: scale(1.05);
}
