.note-container {
  width: 300px;
  min-height: 200px;
  background-color: #e8e8e8;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(34, 34, 34, 0.3);
  -moz-box-shadow: 2px 2px 7px 0px rgba(34, 34, 34, 0.3);
  box-shadow: 2px 2px 7px 0px rgba(34, 34, 34, 0.3);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  border-bottom: 2px solid #ffffff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  align-items: center;
}

.note-title {
  font-size: 22px;
  font-size: 500;
}

.note-btns {
  display: flex;
  column-gap: 10px;
}

.note-btns_edit,
.note-btns_trash {
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 5px;
}
.note-btns_edit:hover,
.note-btns_trash:hover {
  background-color: #ffffff;
}
.note-btns_edit:active,
.note-btns_trash:active {
  transform: scale(1.1);
}
.note-btns_edit {
  background-image: url(../assets/edit.png);
}
.note-btns_trash {
  background-image: url(../assets/delete.png);
}

.note-content {
  min-height: 75px;
  background-color: #ffffff76;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
}

.note-tags {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.tag {
  color: rgb(0, 200, 255);
}
